.screen-backdrop {
    width: 135%;
    height: 15rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: #39a6f0;
    z-index: -1;
}

.to-do {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius:10px;
    border-style: outset;
    border-color: #39a6f0;
}

.to-do h2 {
    color: #192327;
    display: flex;
    align-items: center;
    margin-bottom:20px;
    font-family: 'Arial', sans-serif; 
    font-size: 24px; 
    font-weight: bold;
}

.to-do h2 img {
    width: 80px;
    margin-left: 20px;
    margin-top: -20px;
}